---
import Title from "@components/shared/Title.astro";
import { PROJECTS as projects } from "@data/db";
import ProjectCard from "./ProjectCard.astro";
---

<section id="projects" class="py-4 sm:px-4">
  <Title>Proyectos</Title>
  <ul class="flex flex-col gap-y-10 pt-6 md:py-10 justify-items-center overflow-x-hidden">
    {
      projects.reverse().map((project, index) => {
        return <ProjectCard project={project} index={index} />;
      })
    }
  </ul>
</section>