---
const {url} = Astro.props
---

<a
  class="text-md md:text-lg items-center flex gap-x-3 py-2 px-4 rounded-full cursor-pointer border border-dark-primary text-primary hover:bg-dark-primary hover:bg-opacity-80 hover:text-black transition-colors select-none"
  href={url}
  target="_blank"
>
    <slot/>
</a>
