---
import { MYLINKS } from "@data/db";
import Title from "./Title.astro";
import { Icon } from "astro-icon/components";
const { EMAIL, LINKEDIN, GITHUB } = MYLINKS;
---

<footer
  class="p-6 mt-10 flex flex-col gap-y-4 select-none border-t-2 border-primary-50"
>
  <section class="flex gap-y-8 gap-x-4 flex-col-reverse md:flex-row justify-around mx-auto md:mx-0">
    <div class="flex flex-col items-start gap-y-2">
      <h3 class="text-xl font-semibold mb-2">Contacto</h3>

        <a href={GITHUB} class="flex gap-2 items-center hover:underline">
          <Icon name={"github"} size={20} /> AngelAnez
        </a>
        <a href={LINKEDIN} class="flex gap-2 items-center hover:underline">
          <Icon name={"linkedin"} size={20} /> Angel Añez
        </a>
        <a
          href={`mailto:${EMAIL}`}
          class="flex gap-2 items-center hover:underline"
        >
          <Icon name={"mail"} size={20} /> angdavid2910@gmail.com
        </a>
    </div>

    <div class="flex flex-col items-start justify-center gap-y-2">
      <h3 class="text-xl font-semibold mb-2">
        Explorar
      </h3>
      <a href="/" class="transition hover:text-primary-75 duration-200"> Sobre mí </a>
      <a href="/experience/" class="transition hover:text-primary-75 duration-200"> Experiencia y Recomendaciones </a>
      <a href="/projects/" class="transition hover:text-primary-75 duration-200"> Proyectos y Habilidades </a>
      <a href="/certifications/" class="transition hover:text-primary-75 duration-200"> Certificaciones y Cursos </a>
    </div>
  </section>

  <p class="text-center text-sm md:text-base mt-5">
    Copyright © {new Date().getFullYear()} - Angel Añez
  </p>
</footer>

<style>
  @reference "@styles/global.css";

  .contact-badge {
    @apply border border-white shadow shadow-body-10 rounded-full flex gap-2 items-center justify-center px-2 py-1;
  }
</style>
