---
import MenuButton from "@components/shared/MenuButton";
import NavElement from "@components/shared/NavElement";
---

<header
  class="sticky top-0 right-0 px-5 bg-dark-background-primary backdrop-blur bg-opacity-70 w-full z-10 border-b-2 border-dark-primary select-none"
>
  <nav class="p-3 md:p-5 flex flex-col md:gap-5 lg:flex-row justify-between">
    <section class="flex justify-between w-full lg:w-auto items-center">
      <a class="text-xl text-primary md:text-3xl font-bold italic" href="/"
        >Angel Añez</a
      >
      <MenuButton client:visible />
    </section>
    <ul
      id="nav-list"
      class="hidden py-4 md:py-0 text-body flex-col gap-3 lg:flex lg:flex-row lg:gap-x-6 lg:justify-end"
    >
      <NavElement client:visible href="#aboutme" title="Sobre Mi" />
      <NavElement client:visible href="#experience" title="Experiencia" />
      <NavElement client:visible href="/projects" title="Proyectos" />
      <NavElement client:visible href="#skills" title="Tecnologías" />
      <NavElement client:visible href="#contact" title="Contacto" />
    </ul>
  </nav>
</header>
