---
import { certificateList } from "@data/images";
import Layout from "@layout/Layout.astro";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

export const getStaticPaths = (() => {
  return certificateList.map((certificate) => ({
    params: {
      name: certificate.title.toLowerCase().replace(" - ", " ").split(" ").join("-"),
    },
    props: {
      title: certificate.title,
      image: certificate.image,
    },
  }));
}) satisfies GetStaticPaths;

const { title, image } = Astro.props;
---

<Layout>
  <article class="py-5 relative w-full flex flex-col gap-4 items-center justify-center">
    <a
    href="/certifications/"
    class="text-sm md:text-xl absolute top-0 left-0 flex items-center gap-2 border-b border-transparent hover:border-white transition pb-1"
  >
    <Icon name="arrow-left" class="size-4 md:size-6" /> Regresar
  </a>
    <Image src={image} alt={title} loading="eager" class="w-full pt-8" transition:name={title.toLowerCase().replace(" - ", " ").split(" ").join("-")} />
    <h2 class="font-semibold text-xl text-center">{title}</h2>
  </article>
</Layout>
