---
const { exp } = Astro.props;
---

<li class="flex flex-col gap-y-2 border-s-2 border-dark-primary p-5 bg-dark-background-secondary rounded-r-lg">
  <section class="flex justify-between">
    <h3 class="text-xl font-bold">{exp.position}</h2>
    <h3 class="text-xl font-semibold">{exp.company}</h3>
  </section>
  <span class="opacity-70 z-0 text-lg"
    >{exp["start-date"]} {exp["end-date"] != "" && `- ${exp["end-date"]}`}
  </span
  >
  {exp["job-duty"].map((duty) => <p class="max-w-[90ch] mb-3">{duty}</p>)}
</li>
