---
import Title from "@components/shared/Title.astro";
import { Image } from "astro:assets";
import HeroImage from "@images/profile-hero.jpg"
import { ABOUTME } from "@data/db";

---

<article class="pt-12 md:pt-24 md:px-4">
  
  <Title>Sobre Mi</Title>
  <section
    class="flex flex-col-reverse gap-x-10 gap-y-6 lg:flex-row py-4 items-center"
  >
    <div class="flex flex-col justify-start gap-4 text-sm md:text-base">
      <p class="whitespace-pre-line">{ABOUTME}</p>
    </div>
    <Image
      class="w-full max-w-[260px] md:max-w-[300px] rounded-md drop-shadow-[0_2px_12px_rgba(255,255,255,0.5)] select-none z-[1] lg:pb-10"
      src={HeroImage}
      alt="Angel Añez"
    />
  </section>
</article>
