---
import Title from "./pieces/Title.astro";
---

<section id="aboutme" class="pt-24 px-4">
  <Title>Sobre Mi</Title>
  <section class="flex flex-col gap-x-10 gap-y-6 lg:flex-row py-4 px-4 items-center">
    <img
      class="size-[260px] lg:size-[300px] rounded-2xl scale-x-[-1] aspect-square select-none"
      src="images/profile-icon.webp"
      alt=""
    />
    <section class="flex flex-col justify-start gap-4">
      <p>
        Soy un Ingeniero de Sistemas que disfruta plasmar sus ideas a través de código. Mis inicios fueron en el 2018 en mi etapa universitaria, donde empecé creando programas de consola y calculadoras con Pascal y Python. Luego adopté un estilo de vida más autodidacta y pude conocer las bases del Desarrollo Web: HTML, CSS, y JavaScript.
      </p>
      <p>
       Hoy en día, me gusta seguir descubriendo nuevas formas de resolver problemas y proponer ideas que contribuyan a una solución de mayor calidad y disfrute, tanto para los usuarios finales como para los desarrolladores que vendrán en el futuro. Estoy listo para adaptarme a los desafíos y poner mi granito de arena para crear productos memorables.
      </p>
    </section>
  </section>
</section>
