---
import Title from "./pieces/Title.astro";
import { Mail, Linkedin } from "lucide-react";
---

<footer
  id="contact"
  class="p-6 mt-10 flex flex-col gap-y-4 select-none"
>
  <Title>Contacto</Title>
  <ul class="flex flex-col md:flex-row justify-center gap-x-12 gap-y-4 text-base md:text-lg">
    <li>
      <a class="flex gap-4 items-center hover:text-dark-primary" href="mailto:angdavid2910@gmail.com">
        <Mail className="size-8 md:size-12" />
        angdavid2910@gmail.com
      </a>
    </li>
    <li>
      <a class="flex gap-4 items-center hover:text-dark-primary" href="https://www.linkedin.com/in/angeldavid2001/" target="_blank">
        <Linkedin className="size-8 md:size-12" />
        Angel Añez
      </a>
    </li>
  </ul>

  <p class="text-center text-sm md:text-base mt-5">Copyright © 2024 - Angel Añez</p>
</footer>
