---
import ExperienceInfo from "./pieces/ExperienceInfo.astro";
import experience from "../config/experience.json";
import Title from "./pieces/Title.astro";
---

<section id="experience" class="pt-24 px-4">
  <Title>Experiencia</Title>
  <ul class="flex flex-col gap-y-10 py-4">
    {experience.map(exp => (
        <ExperienceInfo exp={exp}/>
    ))}
  </ul>
</section>
