---
import { EXPERIENCE as experience } from "../data/data";
import ExperienceInfo from "./pieces/ExperienceInfo.astro";
import Title from "./pieces/Title.astro";
---

<section id="experience" class="pt-12 md:pt-24 px-4">
  <Title>Experiencia</Title>
  <ul class="flex flex-col gap-y-10 py-4">
    {experience.reverse().map(exp => (
        <ExperienceInfo exp={exp}/>
    ))}
  </ul>
</section>
