<header class="fixed right-0 mx-5 bg-slate-900 w-full">
  <nav class="p-5">
    <ul class="flex gap-x-10 justify-end">
      <li>
        <button class="text-xl hover:opacity-60">Experiencia</button>
      </li>
      <li>
        <button class="text-xl hover:opacity-60">Tecnologías</button>
      </li>
      <li>
        <button class="text-xl hover:opacity-60">Proyectos</button>
      </li>
      <li>
        <button class="text-xl hover:opacity-60">Sobre mi</button>
      </li>
      <li>
        <button class="text-xl hover:opacity-60">Contacto</button>
      </li>
    </ul>
  </nav>
</header>
