<header>
    <nav>
        <ul class="flex">
            <li>Contacto</li>
            <li>Experiencia</li>
            <li>Sobre mi</li>
            <li>Proyectos</li>
            <li>Tecnologías</li>
        </ul>
    </nav>
</header>