<header class="fixed right-0 mx-5 bg-slate-900 w-full">
  <nav class="p-5">
    <ul class="flex gap-x-10 justify-end">
      <li>
        <a class="text-xl hover:opacity-60" href="#experience">Experiencia</a>
      </li>
      <li>
        <a class="text-xl hover:opacity-60" href="#skills">Tecnologías</a>
      </li>
      <li>
        <a class="text-xl hover:opacity-60" href="#projects">Proyectos</a>
      </li>
      <li>
        <a class="text-xl hover:opacity-60" href="#aboutme">Sobre mi</a>
      </li>
      <li>
        <a class="text-xl hover:opacity-60" href="#contact">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
