---
import { FileText, Code, Linkedin } from "lucide-react";
---

<section id="hero" class="p-20 flex flex-col-reverse items-center md:flex-row md:justify-around md:h-full">
  <section class="text-center">
    <h1 class="text-5xl mb-4">Hola, soy <strong>Angel Añez</strong></h1>
    <p class="opacity-30">Y me dedico al</p>
    <h2 class="text-4xl italic">Desarrollo de Software</h2>
    <h3 class="mt-10">¡Encantado de Conocerte!</h3>
    <ul class="flex flex-col md:flex-row py-4 justify-center items-center gap-4">
      <li>
        <a
          class="flex gap-x-3 border border-gray-100 py-2 px-4 rounded-md hover:bg-red-600 cursor-pointer" href="/documents/docker.pdf" target="_blank"
        >
          CV
          <FileText />
      </a>
      </li>
      <li>
        <a
          class="flex gap-x-3 border border-gray-100 py-2 px-4 rounded-md hover:bg-gray-500 cursor-pointer" href="https://github.com/AngelAnez" target="_blank"
        >
          GitHub
          <Code />
        </a>
      </li>
      <li>
        <a
          class="flex gap-x-3 border border-gray-100 py-2 px-4 rounded-md hover:bg-blue-500 cursor-pointer" href="https://www.linkedin.com/in/angeldavid2001/" target="_blank"
        >
          LinkedIn
          <Linkedin />
        </a>
      </li>
    </ul>
  </section>
    <img
      class="rounded-full w-60 md:w-80"
      src="/images/profile.png"
      alt="My Profile Photo"
    />
</section>
