---
import { FileText, Code, Linkedin } from "lucide-react";
import Button from "./pieces/Button.astro";
---

<article
  id="hero"
  class="py-16 px-8 flex flex-col-reverse items-center justify-evenly md:flex-row md:justify-between h-screen"
>
  <section class="flex flex-col md:gap-8 text-center">
    <h1 class="text-4xl mb-4 max-w-[20ch]">Hola, soy <strong class="text-primary" >Angel Añez</strong> y me dedico al Desarrollo de Software</h1>
    <h2 class="text-2xl">¡Encantado de Conocerte!</h2>
    <ul
      class="flex flex-col md:flex-row py-4 justify-center items-center gap-4"
    >
      <li>
        <Button url="/documents/docker.pdf">
          CV
          <FileText />
        </Button>
      </li>
      <li>
        <Button url="https://github.com/AngelAnez">
          GitHub
          <Code />
        </Button>
      </li>
      <li>
        <Button url="https://www.linkedin.com/in/angeldavid2001/">
          LinkedIn
          <Linkedin />
        </Button>
      </li>
    </ul>
  </section>
  <img
    class="rounded-full w-60 md:w-96 aspect-square"
    src="/images/profile.webp"
    alt="My Profile Photo"
  />
</article>
