---
import Title from "./pieces/Title.astro"
import Card from "./pieces/Card.astro"
import projects from "../config/projects.json";
---

<section id="projects" class="pt-12 md:pt-24 px-4">
    <Title>Proyectos</Title>
    <ul class="flex flex-col gap-6 py-6 justify-items-center">
        {projects.map(project => {
            return <li><Card project={project}></Card></li>
        })}
    </ul>
</section>