---
import skills from "../config/skills.json";
---

<section id="skills" class="p-4 flex flex-col gap-y-10">
  <h2 class="text-center text-4xl font-bold">Tecnologías</h2>
  <ul class="grid grid-cols-2 gap-x-8 gap-y-4 md:grid-cols-4 md:gap-x-2">
    {
      skills.map((skill) => (
        <li class="mx-auto">
          <img src={skill.logo} alt={skill.name} width="100" />
          <h4 class="text-center">{skill.name}</h4>
        </li>
      ))
    }
  </ul>
</section>
