---
import Title from "@components/shared/Title.astro";
import { EXPERIENCE as experience } from "@data/db";
import ExperienceInfo from "./ExperienceInfo.astro";
---

<section id="experience" class="">
  <Title>Experiencia Laboral</Title>
  <ul class="flex flex-col gap-y-10 py-4">
    {experience.reverse().map(exp => (
        <ExperienceInfo exp={exp}/>
    ))}
  </ul>
</section>
