---
import '../styles/Layout.css'
import '@fontsource/noto-sans-math';
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Hola, soy Angel Añez. Soy un Ingeniero de Sistemas y me dedico al Desarrollo de Software. ¡Bienvenido a mi Portafolio!"/>
    <meta name="keywords" content="Angel Añez, Angel Anez, Desarrollador de Software, Ingeniero de Sistemas"/>
    <title>Angel Añez | Software Developer</title>
    <link rel="icon" type="image/svg" href="/favicon.svg"/>
  </head>
  <body class="bg-dark-background-primary text-white">
    <main class="container mx-auto px-5 max-w-6xl">
      <slot/>
    </main>
  </body>
</html>
