---
import '../styles/Layout.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angel Añez</title>
  </head>
  <body class="bg-slate-900 text-white">
    <main class="container mx-auto">
      <slot/>
    </main>
  </body>
</html>
