---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import "@fontsource/noto-sans-math";
import Navbar from "@components/shared/Navbar.astro";
import Footer from "@components/shared/Footer.astro";

interface Props {
  title?: string;
}

const { title = "Angel Añez | Home" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="title"
      property="og:title"
      content="Angel Añez | Ingeniero de Sistemas"
    />
    <meta name="type" property="og:type" content="website" />
    <meta name="url" property="og:url" content="https://angel-anez.com/" />

    <meta
      name="description"
      property="og:description"
      content="Hola, soy Angel Añez. Ingeniero de Sistemas especializado en el desarrollo FullStack. ¡Bienvenido a mi Portafolio!"
    />
    <meta
      name="keywords"
      content="Angel Añez, Angel Anez, Desarrollador FullStack, Ingeniero de Sistemas, Venezuela"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <ClientRouter />
  </head>
  <body class="bg-background text-white font-body flex flex-col">
    <Navbar />
    <main class="mx-auto px-5 max-w-6xl min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>
